.btn {
  padding: 0px;
  transition: transform 0.1s;
  background: #000000;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Helvetica, sans-serif, monospace;
  font-size: 15px;
  height: 30px;
  width: 150px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn span {
  transition: transform 0.1s;
}

.btn:hover span {
  transform: scale(0.95);
}
