#rose-img {
  width: 50vw;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#homepage-header {
  text-align: center;
  position: absolute;
  top: 10px;
  width: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homepage-header-text {
  padding: 5px 5px 5px 5px;
  color: #ffffff;
  position: absolute;
  font: 75px Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  width: 75%;
}

#homepage-header-text-left {
  translate: 37.5%;
}

#homepage-header-text-right {
  translate: 137.5%;
}

#homepage-header-text-center {
  color: #ffffff;
  position: absolute;
  font: 75px Arial, sans-serif;
  translate: 49vw;
  width: 2vw;
}

#home-description {
  color: #ffffff;
  position: absolute;
  text-align: center;
  font: 30px Helvetica, sans-serif;
  top: 40vh;
  width: 50vw;
  translate: 50vw;
}

#description-text {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home-btn-container {
  position: absolute;
  text-align: center;
  top: 75vh;
  width: 50vw;
  translate: 50vw;
  scale: 1.5;
}

.home-btn {
  position: relative;
  margin: 10px 10px 10px 10px;
}

body {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1280px) {
  #rose-img {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
  }

  #homepage-header-text-center {
    color: #ffffff;
    position: absolute;
    font: 5vw Arial, sans-serif;
    translate: 50vw;
  }

  .homepage-header-text {
    font: 5vw Helvetica, sans-serif;
  }

  #home-description {
    color: #ffffff;
    position: absolute;
    text-align: center;
    font: 5vw Helvetica, sans-serif;
    top: 30vh;
    width: 50vw;
    translate: 25vw;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #home-btn-container {
    position: absolute;
    text-align: center;
    top: 75vh;
    width: 50vw;
    translate: 25vw;
    scale: 1.5;
  }
}
